* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

:root {
  /* logo */
  --logo-accent: rgba(77, 90, 229, 1);
  --logo-primary: rgba(46, 47, 66, 1);

  /* titles */
  --title-dark: rgba(46, 47, 66, 1);

  /* buttons */
  --primary-button: rgba(77, 90, 229, 1);
  --button-hover: rgba(64, 75, 191, 1);
  --button-active: rgba(64, 75, 191, 1);
  --button-text: rgba(255, 255, 255, 1);

  /*  text */
  --primary-text: rgba(67, 68, 85, 1);

  /* navigation links */
  --navigation-link-primary: rgba(46, 47, 66, 1);
  --navigation-link-hover: rgba(64, 75, 191, 1);
  --navigation-link-focus: rgba(64, 75, 191, 1);

  /* address links */
  --address-link-primary: rgba(67, 68, 85, 1);
  --address-link-hover: rgba(64, 75, 191, 1);
  --address-link-focus: rgba(64, 75, 191, 1);
}

nav,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* styles */

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text);
  background-color: #ffffff;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 1.12px;
}

h2 {
  color: var(--title-dark);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

h3 {
  color: var(--title-dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* header */
.logo {
  font-family: "Raleway", sans-serif;
  color: var(--logo-accent);
  display: flex;
  gap: 0px;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-accent {
  color: var(--logo-primary);
}

.navigation-list {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.navigation-link {
  color: var(--navigation-link-primary);
}

.navigation-link:hover {
  color: var(--navigation-link-hover);
}

.navigation-link:focus {
  color: var(--navigation-link-focus);
}

.address-list {
  font-size: 16px;
  font-style: normal;

  line-height: 1.5;
  letter-spacing: 0.32px;
}

.address-link {
  color: var(--address-link-primary);
}

.address-link:hover {
  color: var(--address-link-hover);
}

.address-link:focus {
  color: var(--address-link-focus);
}

/* hero section */

.button {
  background-color: var(--primary-button);
  color: var(--button-text);
  padding: 16px 32px;
}

.button:hover {
  background-color: var(--button-hover);
}

.button:active {
  background-color: var(--button-active);
}
