* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

:root {
  --primary-button: rgba(77, 90, 229, 1);
  --button-hover: rgba(64, 75, 191, 1);
  --button-active: rgba(64, 75, 191, 1);
  --primary-text: rgba(00, 00, 00, 1);
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* styles */

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text);
}

h1 {
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 1.12px;
}

h2 {
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

p,
.navigation-link {
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* header */
.logo {
  font-family: "Raleway", sans-serif;
}

.address-link {
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* hero section */
.button {
  color: var(--primary-button);
}

.button:hover {
  color: var(--button-hover);
}

.button:active {
  color: var(--button-active);
}
